*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    width: 100%;
}

ul{
    display:flex;
    margin: 0;
    padding: 15px 0 ;
    justify-content: center;
    background-color: grey;
}

ul li{
    list-style-type: none;
    margin: 0 20px;
    color: white;
}